{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="login">
    <h1>Welcome to the EF Forum</h1>
    <a href="{{ path('app_user_new') }}">Login</a>
</div>

<div class="les sujets">
    <h2>Les sujets</h2>
    <ul>
        <li><a href="{{ path('app_sujets_new') }}">Créer un sujet</a></li>
        <li><a href="{{ path('app_sujets_index') }}">Liste des sujets</a></li>
{% endblock %}
